:root{
    --main-color: #008060;
}

@font-face {
    font-family: 'Fira Mono';
    src: url('/fonts/Fira_Mono_Bold.otf') format("opentype");
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Mono';
    src: url('/fonts/Fira_Mono_Medium.otf') format("opentype");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Mono';
    src: url('/fonts/Fira_Mono_Regular.otf') format("opentype");
    font-weight: lighter;
    font-display: swap;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    background: url('/img/background/bg-01.webp') center no-repeat;
    background-size: cover;

    &::before{
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        background-color: #d4d4d4e0;
    }
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body::before {
        background-color: #171717e9;
    }
}
